// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

// Aquí puedes agregar tus estilos personalizados
body {
    font-family: 'Nunito', sans-serif;
}

.table {
    margin-top: 20px;
}

.btn {
    margin-right: 5px;
}

.status-select {
    border-radius: 8px;
    padding: 5px;
    margin: 0;
}

.status-select option[value="Sin completar"] {
    background-color: grey;
    color: white;
}

.status-select option[value="Completado"] {
    background-color: green;
    color: white;
}
